*.db*
*.log*
*.log.*
*.fault
*.sqlite
*.xml
deps
downloads*
tmp*
frigate.yml
home-assistant.log*
home-assistant_v2.db*
themes
tts
www
custom_components
secrets.yaml
.cloud
.HA_VERSION
.storage
OZW_Log.txt
appdaemon*
appdaemon.yaml
blueprints*
govee_learning.yaml
media*
rtsp2webrtc_v5_amd64
wyze-bridge/
